/* -CSS FOR INDEX- */

body {
    /* Minimum width for mobile devices in vertical position */
    min-width: 372px;
}

.wrapper {
    /* to fix the footer on the bottom of the page */
    min-height: 100vh;
}

#carousel {
    padding: 20px 0px;
}

#newArrival {
    padding: 20px 0px;
}

#txt-font {
    font-family: 'Alegreya', serif;
}

#btn-products {
    color: #a3657a;
    margin-left: 1em;
    background-color: #f3cabc;
}

#btn-products:hover {
    color: white;
    background-color: red;
}